FactoryPal/venv/
FactoryPal/client/__pycache__/
FactoryPal/pipeline/producers/__pycache__/
FactoryPal/cmd/__pycache__/
FactoryPal/.vscode/
FactoryPal/pipeline/consumers/__pycache__/
FactoryPal/database/metrics/*
FactoryPal/database/workorder/*