streaming_pipeline/venv/
streaming_pipeline/client/__pycache__/
streaming_pipeline/pipeline/producers/__pycache__/
streaming_pipeline/cmd/__pycache__/
streaming_pipeline/.vscode/
streaming_pipeline/pipeline/consumers/__pycache__/
streaming_pipeline/database/metrics/*
streaming_pipeline/database/workorder/*